# PROJECT
PROJECT_NAME=myapp

# DATABASE
POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=strongpassword

# KEYCLOAK
KEYCLOAK_VERSION=25.0.4
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=adminpassword

# DOMAIN
KC_HOSTNAME=auth.example.com